@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gg-sans";
  src: url("./fonts/ggsans-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'gg-sans', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}